@model CinemasRafa.Models.CuentaUsuario

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <img style=" display:block; margin-left: auto; margin-right: auto;" src="~/lib/Screenshot 2022-06-08 194542.png"/>
                <form class="login-form" method="get" asp-action="Login">
                    <div class="form-group">
                        <label class="text-uppercase">Username</label>
                        </br>
                        <input type="text" class="form-control" placeholder="" asp-for="Username">
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        </br>
                        <input type="password" class="form-control" placeholder="" asp-for="Password">
                    </div>
                    </br>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login"/>
                    </div>
                    <div class="container-fluid">

                        </br>
                        <div style="display: flex">
                            
                            <a href="CustomerDTOs/Create">Registrarse</a>
                        </div>
                    </div>
                    </br>
                    <div>
                        <a href="Recuperaciones">¿Has olvidado la contrasña?</a>
                    </div>

                    <div style="color: red">
                    @if (TempData["errorMessage"] != null)
                    {
                        <p>@TempData["errorMessage"]</p>
                    }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>